version: 2.0

jobs:
  build:

    # Specify the Xcode version to use
    macos:
      xcode: "10.1.0"
    working_directory: /Users/distiller/project

    steps:
      - checkout

      # Install CocoaPods
      - run:
          name: Install CocoaPods
          command: |
            curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf
            pod install --project-directory=Example

      # Lint Podfile
      - run:
          name: Lint Podfile
          command: pod lib lint --allow-warnings

      # Build the app and run tests
      - run:
          name: Run tests
          command: fastlane scan --workspace "Example/Castle.xcworkspace" --code_coverage
          environment:
            SCAN_DEVICE: iPhone 6
            SCAN_SCHEME: Castle-Example

      # Upload code coverage results to codecov.io
      - run: 
          name: Upload code coverage results
          command: bash <(curl -s https://codecov.io/bash)

      # Store artifacts
      - store_test_results:
          path: test_output

      - store_artifacts:
          path: test_output
          destination: test-output

      - store_artifacts:
          path: ~/Library/Logs/scan
          destination: scan-logs


